.TaskItem{
    background-color:var(--bs-light);
    border: 0.1px solid var(--bs-gray-300);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.TaskItem_CheckBox{
    cursor: pointer;
    margin-left: 20px;
}

.TaskItem_Label{
    cursor: pointer;
    margin-left: 10px;
}
